body {
    line-height: 1;
    background-color: #f7f7f7;
}

h1 {
    font-family: 'Droid Serif', sans-serif;
    text-align: left;
    color: #00b6ad;
    font-size: 26px;
    letter-spacing: 2px;
    margin-left: 20px;
}

p {
    font-family: 'Droid Serif', sans-serif;
    color: grey;
    margin-left: 20px;
}

#search{
	width:200px;
}

.results {
    margin-top: 10px;
}

li {
    font-family: 'Droid Serif', sans-serif;
    list-style: none;
    line-height: 20px;
    margin-left: 20px;

}

#search {
    margin-left: 20px;
}

#bio,
#excerpt {
    font-family: 'Droid Serif', sans-serif;
    margin-right: 40px;
    margin-top: 10px;
    line-height: 20px;
    width: 500px;
}

#img {
    margin-right: 40px;
    margin-top: 20px;
}

img {
    width: 500px;
}

#wrapper {
	overflow: auto;
}

#rightdiv {
	float: right;
}

#leftdiv {
	float: left;
}
